<a href="{{ '/' | relative_url }}">Home</a> ·
<a href="{{ '/core-concepts/overview/' | relative_url }}">Concepts</a> ·
<a href="{{ '/configuration/overview/' | relative_url }}">Configuration</a> ·
<a href="{{ '/user-interface/main-window/' | relative_url }}">Main</a> ·
<a href="{{ '/user-interface/audit-definition-editor/' | relative_url }}">Audits</a> ·
<a href="{{ '/examples/overview/' | relative_url }}">Examples</a> ·
<a href="{{ '/troubleshooting/overview/' | relative_url }}">Troubleshooting</a>


<!--

I FUCKING HATE THIS SHIT

{: .sticky-nav }
[Home]({{ '/' | relative_url }}) · [Concepts]({{ '/core-concepts/overview/' | relative_url }}) · [Configuration]({{ '/configuration/overview/' | relative_url }}) · [Main]({{ '/user-interface/main-window/' | relative_url }}) · [Audits]({{ '/user-interface/audit-definition-editor/' | relative_url }}) · [Examples]({{ '/examples/overview/' | relative_url }}) · [Troubleshooting]({{ '/troubleshooting/overview/' | relative_url }})

 <div class="sticky-nav" markdown="1">

    [Home]({{ '/' | relative_url }}) · [Concepts]({{ '/core-concepts/overview/' | relative_url }}) ·
    [Configuration]({{'/configuration/overview/' | relative_url }}) · [Main]({{ '/user-interface/main-window/' |
    relative_url }}) · [Audits]({{ '/user-interface/audit-definition-editor/' | relative_url }}) · [Examples]({{
    '/examples/overview/' | relative_url }}) · [Troubleshooting]({{ '/troubleshooting/overview/' | relative_url }})

</div> -->