<div class="sticky-nav">

[Contents]({{ '/' | relative_url }}) |
[Concepts]({{ '/core-concepts/overview/' | relative_url }}) |
[Configuration]({{ '/configuration/overview/' | relative_url }}) |
[Main]({{ '/user-interface/main-window/' | relative_url }}) |
[Audits]({{ '/user-interface/audit-definition-editor/' | relative_url }}) |
[Examples]({{ '/examples/overview/' | relative_url }}) |
[Troubleshooting]({{ '/troubleshooting/overview/' | relative_url }})

</div>

<!--

<div class="sticky-nav">
    <table class="nav-table">
        <tbody>
            <tr>
                <td><a href="{{ '/' | relative_url }}">Contents</a></td>
                <td><a href="{{ '/core-concepts/overview/' | relative_url }}">Concepts</a></td>
                <td><a href="{{ '/configuration/overview/' | relative_url }}">Configuration</a></td>
                <td><a href="{{ '/user-interface/main-window/' | relative_url }}">Main</a></td>
                <td><a href="{{ '/user-interface/audit-definition-editor/' | relative_url }}">Audits</a></td>
                <td><a href="{{ '/examples/overview/' | relative_url }}">Examples</a></td>
                <td><a href="{{ '/troubleshooting/overview/' | relative_url }}">Troubleshooting</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="sticky-nav">
    <table>
        <tbody>
            <tr>
                <td><a href="{{ '/' | relative_url }}">Contents</a></td>
                <td><a href="{{ '/core-concepts/overview/' | relative_url }}">Concepts</a></td>
                <td><a href="{{ '/configuration/overview/' | relative_url }}">Configuration</a></td>
                <td><a href="{{ '/user-interface/main-window/' | relative_url }}">Main</a></td>
                <td><a href="{{ '/user-interface/audit-definition-editor/' | relative_url }}">Auditor</a></td>
                <td><a href="{{ '/examples/overview/' | relative_url }}">Examples</a></td>
                <td><a href="{{ '/troubleshooting/overview/' | relative_url }}">Troubleshooting</a></td>
            </tr>
        </tbody>
    </table>
</div>
-->