<a href="{{ '/core-concepts/target/' | relative_url }}">Overview</a> ·
<a href="{{ '/core-concepts/target-stringcases/' | relative_url }}">StringCases</a> ·
<a href="{{ '/core-concepts/target-numericbands/' | relative_url }}">NumericBands</a> ·
<a href="{{ '/core-concepts/target-stringcompare/' | relative_url }}">StringCompare</a> ·
<a href="{{ '/core-concepts/target-numericcompare/' | relative_url }}">NumericCompare</a> ·
<a href="{{ '/core-concepts/target-direct/' | relative_url }}">Direct</a>