<a href="{{ '/core-concepts/target/#core-concepts' | relative_url }}">Overview</a> ·
<a href="{{ '/core-concepts/target-stringcases/#core-concepts' | relative_url }}">StringCases</a> ·
<a href="{{ '/core-concepts/target-numericbands/#core-concepts' | relative_url }}">NumericBands</a> ·
<a href="{{ '/core-concepts/target-stringcompare/#core-concepts' | relative_url }}">StringCompare</a> ·
<a href="{{ '/core-concepts/target-numericcompare/#core-concepts' | relative_url }}">NumericCompare</a> ·
<a href="{{ '/core-concepts/target-direct/#core-concepts' | relative_url }}">Direct</a>