1. <a href="{{ '/examples/name/recognised-assembly-name-sets-prefix-and-class/' | relative_url }}">Recognised assembly names set prefix and class</a> ·
<br>
2. <a href="{{ '/examples/name/welded-part-name-should-not-be-main-part/' | relative_url }}">Welded part names should not be main parts</a>
<br>
3. <a href="{{ '/examples/name/name-determines-valid-profile/' | relative_url }}">Name determines valid profile</a>
<br>
4. <a href="{{ '/examples/name/vertical-part-name-requires-correct-rotation/' | relative_url }}">Vertical part names require correct rotation</a> ·