1. <a href="{{ '/examples/name/recognised-assembly-name-sets-prefix-and-class/' | relative_url }}">Recognised assembly Names set Prefix and Class</a>
<br>
2. <a href="{{ '/examples/name/welded-part-name-should-not-be-main-part/' | relative_url }}">Welded part Names should not be Main Parts</a>
<br>
3. <a href="{{ '/examples/name/name-determines-valid-profile/' | relative_url }}">Name determines valid Profile</a>
<br>
4. <a href="{{ '/examples/name/vertical-part-name-requires-correct-rotation/' | relative_url }}">Vertical part Names require correct Rotation</a>