0. <a href="{{ '/examples/profile/overview/#examples' | relative_url }}">Overview</a>
<br>
1. <a href="{{ '/examples/profile/fixed-material-by-profile-family/#examples' | relative_url }}">Fixed Material by Profile family</a>
<br>
2. <a href="{{ '/examples/profile/prefix-by-radius/#examples' | relative_url }}">Prefix by Radius</a>
<br>
3. <a href="{{ '/examples/profile/length-by-profile-depth/#examples' | relative_url }}">Length by Profile depth</a>
<br>
4. <a href="{{ '/examples/profile/grating-material-substring-match/#examples' | relative_url }}">Grating Material substring match</a>
<br>
5. <a href="{{ '/examples/profile/chs-material-grade-by-depth-and-thickness/#examples' | relative_url }}">CHS Material by depth and thickness</a>
<br>
6. <a href="{{ '/examples/profile/chs-fallback-material-rules/#examples' | relative_url }}">CHS fallback Material rules with onFirstMatch</a>
<br>
7. <a href="{{ '/examples/profile/chs-length-override-rules/#examples' | relative_url }}">CHS Length override rules with onAnyMatch</a>