<a href="{{ '/examples/profile/fixed-material-by-profile-family/' | relative_url }}">Material by Profile</a>
<br>
<a href="{{ '/examples/profile/prefix-by-radius/' | relative_url }}">Prefix by Radius</a>
<br>
<a href="{{ '/examples/profile/length-by-profile-depth/' | relative_url }}">Length by Profile Depth</a>
<br>
<a href="{{ '/examples/profile/grating-material-substring-match/' | relative_url }}">Grating by Material SubString</a>
<br>
<a href="{{ '/examples/profile/chs-material-grade-by-depth-and-thickness/' | relative_url }}">Material by Profile Depth</a>
<br>
<a href="{{ '/examples/profile/chs-fallback-material-rules/' | relative_url }}">Fallback Material Rules</a>
<br>
<a href="{{ '/examples/profile/chs-length-override-rules/' | relative_url }}">Length Override Rules</a>