<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>

    <nav style="margin-bottom:20px;">
        <a href="/ObChecked-docs/">Contents</a> |
        <a href="/ObChecked-docs/core-concepts/">Concepts</a> |
        <a href="/ObChecked-docs/configuration/">Configuration</a> |
        <a href="/ObChecked-docs/user-interface/main-window">Main View</a> |
        <a href="/ObChecked-docs/user-interface/audits-window">Audits View</a> |
        <a href="/ObChecked-docs/examples/">Examples</a> |
        <a href="/ObChecked-docs/troubleshooting/">Troubleshooting</a>
    </nav>

    <hr>

    <h1>{{ page.title }}</h1>

    {{ content }}

</body>

</html>